doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href='https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap' rel='stylesheet' type='text/css')
    style.
      @import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap);
      body { 
        margin:0;
        padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;
        font-family:'Red Hat Display', sans-serif; font-size: 13px; background-color: #ffffff ;
      }
      table, td { 
        border-collapse:collapse;
        mso-table-lspace:0pt;
        mso-table-rspace:0pt;
        margin: 0;
        }
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #ffffff;
        }
      }
  body
    table(role='presentation' width="100%", border="0", cellspacing="0", cellpadding="0" style='min-width: 100%; height: auto; background-color: #ffffff;' bgColor='#ffffff')
      tbody
        tr 
          td(width='100%' bgColor='#ffffff' style='padding-top: 20px')
            table(role='presentation' border="0", cellspacing="0", cellpadding="0" style='margin:0 auto; max-width: 580px;') 
              tbody
                tr 
                  td(align='center' style='padding:.2rem 0 0 0;') 
                    a(href='https://aacsl.co.uk/' target=_blank rel="noopener noreferrer") 
                      img(src='https://images2.imgbox.com/30/4e/Me2ogn5A_o.png' style='display: block;' alt='logo-AACSL')
                block content

